<a href="https://colab.research.google.com/github/imanii-edel/python-Assignment1/blob/main/data_types_assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1
-    Checking data types

In [4]:
# Define a float
y = 1.
print(y)
print(type(y))

# Convert float to integer with the int function
z = int(y)
print(z)
print(type(z))

1.0
<class 'float'>
1
<class 'int'>

# Question 2

1. Negative floats are always rounded UP to the closest integer (for instance, both -1.1 and -1.9 are rounded up to -1).
2. Positive floats are always rounded DOWN to the closest integer (for instance, 2.1 and 2.9 are rounded down to 2).

In [2]:
print(int(1.2321))
print(int(1.747))
print(int(-3.94535))
print(int(-2.19774))

1
1
-3
-2

# Question 3
- When you multiple an integer or float by a boolean with value True, it just returns that same integer or float (and is equivalent to multiplying by 1).
- If you multiply an integer or float by a boolean with value False, it always returns 0. This is true for both positive and negative numbers.
- If you multiply a string by a boolean with value True, it just returns that same string.
- And if you multiply a string by a boolean with value False, it returns an empty string (or a string with length zero).

In [3]:
print(3 * True)
print(-3.1 * True)
print(type("abc" * False))
print(len("abc" * False))

3
-3.1
<class 'str'>
0

# Question 4
- When you add booleans, adding False is equivalent to adding 0, and adding True is equivalent to adding 1.

In [5]:
print(False + False)
print(True + False)
print(False + True)
print(True + True)
print(False + True + True + True)

0
1
1
2
3

# Question 5
## Pseudocode for Project Cost Calculation (Concise Version)

### Function: `cost_of_project(engraving, solid_gold)`
1. project_one = CALL cost_of_project("Charlie+Denver", TRUE)
2. DISPLAY "The cost of the first project is $" + project_one + "."
3. project_two = CALL cost_of_project("08/10/2000", FALSE)
4. DISPLAY "The cost of the second project is $" + project_two + ".

In [6]:
def cost_of_project(engraving, solid_gold):
    cost = solid_gold * (100 + 10 * len(engraving)) + (not solid_gold) * (50 + 7 * len(engraving))
    return cost

project_one = cost_of_project("Charlie+Denver", True)
print("The cost of the first project is $", project_one, ".")
project_two = cost_of_project("08/10/2000", False)
print("The cost of the second project is $", project_two, ".")

The cost of the first project is $ 240 .
The cost of the second project is $ 120 .